body
{
    background-color:white;
    
}
#nav{

    width:100%;
    position:top;
    background-color:rgb(254, 223, 255);
    white-space: nowrap;
    overflow: hidden;
}
.navbarContent{
    color:lavender;
    display:inline-block;
    text-decoration-line:none;
    font-size: 16px;
}
.navbarContent a:hover{
    background-color:aliceblue;
}
.navbarContent a{
    display: block;
    color: white;
    font-family:monospace;
    text-align: center;
    padding: 14px 16px;
}
h1{
    font-size: 20px;
    position:center;
    text-align: center;
    font-family:monospace;
}
h2{
    font-size: 15px;
    position:center;
    text-align: center;
    font-family:monospace;
}