body
{
    background-color:white;
    
}
#nav{
    position:relative;
    background-color:lavenderblush;
    overflow: hidden;
}
.navbarContent{
    float:left;
    color:lavender;
    text-align:center;
    padding: 15px 15px;
    text-decoration:none;
    font-size: 16px;
}
.navbarContent a:hover{
    background-color:aliceblue;
    color:aliceblue;
}
.navbarContent a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
h1{
    font-size: 20px;
    position:center;
    text-align: center;
    font-family:monospace;
}
h2{
    font-size: 15px;
    position:center;
    text-align: center;
    font-family:monospace;
}