body#opening{
    background-color:rgb(255, 255, 255)
}
body#homeBody
{
    background-image:url("cherry-blossom-falling.gif");
    position: sticky;
    
}
body#contactMe{
    background-image:linear-gradient(to top,rgb(139, 187, 250),transparent);
    background-attachment: scroll;
    background-repeat:no-repeat;
}
#icon{
    position: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}
#nav{
    margin-bottom: 5px;
    width:100%;
    position:top center;
    background-color:rgb(242, 230, 248);
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
}
.navContent{
    color:rgb(190, 190, 190);
    display:inline-block;
    text-decoration-line:none;
    font-size: 16px;
}
.navContent a:hover{
    background-color:rgb(219, 212, 255);
    opacity: 0.75;
}
.navContent a{
    display: block;
    color: rgb(174, 202, 223);
    font-family:monospace;
    text-align: center;
    padding: 14px 16px;
}
#header{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding:20px 20px;
    background-color: lavenderblush;
    border-style: dashed;
    border-color: rgb(241, 229, 252);
    border-width: 5px;
    position: center;
}
h1{
    color: rgb(174, 202, 223);
    font-size: 20px;
    position:center;
    text-align: center;
    font-family:monospace;
}
h2{
    color: rgb(174, 202, 223);
    font-size: 15px;
    position:center;
    text-align: center;
    font-family:monospace;
}
p1{
    color: rgb(174, 202, 223);
    font-size: 12px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
#bobaCat{
    margin-top: 5px;
    position:center;
}
#bobaCat:hover{
    cursor: url('cursor.cur'),auto;
}
#compCat{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
#compCat:hover{
    cursor: url('mouseCur.cur'),auto;
}